*{text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.available{
    color: black;
    margin: 2px;

}

.guessed{
color: gray;
text-decoration: line-through;

}

.high{
    color: green;
}

.med{
    color: yellow;
}

.low{
    color: red;
}